.header-bg-image {
    background-image: url(./images/foto-actividad-locxue-educacion-didier-deiby.jpg);
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
    min-height: 70vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.header-bg-image:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(20, 20, 20, 0.6);
}
.logo-header {
    margin: 0 auto;
    padding-top: 10vh;
    width: 30%;
    max-width: 200px;
}