.header-bg-image {
    background-image: url(./images/foto-actividad-locxue-educacion-didier-deiby.jpg);
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
    min-height: 70vh;
    width: 100%;
    position: relative;
}
.header-bg-image:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}